.widget {
	margin: 2em 0 0 0;
	background-color: $gray-1;
	padding: .5em;
	box-shadow: 0 6px 10px rgba(50,50,50,.2);

	h1 {
		margin: 0 0 .2em 0;
	}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}


/*custom css*/
.widget {
	h1 {
		font-size: 2em;
	}
	ul {
		margin: 0;
	}
	ul li {
		list-style: none;
	}
}