.gray-1 {
	color: $gray-1;
}
.gray-2 {
	color: $gray-2;
}
.gray-3 {
	color: $gray-3;
}
.gray-4 {
	color: $gray-4;
}
.gray-5 {
	color: $gray-5;
}
.gray-6 {
	color: $gray-6;
}

.center {
	text-align: center;
}
.ta-right {
	text-align: right;
}

.inline {
	display: inline;
}

.hr_small {
	max-width: 200px;
	height: 2px;
	background-color: $gray-6;
	border: none;
	margin: 0 auto 2.25em auto;
}

.full_bg {
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-position: center;
	@media (min-width: 768px) {
		height: 700px;
	}
}

#landing {
	min-height: 800px;
	padding: 2em 0;
	h1 {
		margin: .5em 0 1em 0;
		font-size: 3em;
	}
	@media (min-width: 768px) {
	h1 {
		margin: .5em 0 .5em 4em;
		font-size: 4em;
		}
	}
}

#intro {
	padding: 6em 0 8em 0;
	background-color: $logo-3;
	h1 {
		color: $logo-1;
	}
}

#latest {
	padding: 3em 0 6em 0;
	background-color: $white;
	h1 {
		color: $logo-2;
		font-weight: 200;
		letter-spacing: 4px;
	}
	h3 {
		color: $gray-6;
	}
	.button_ghost {
		border: 2px solid $logo-2;
	}
	.button_ghost:hover {
		background-color: $logo-2;
		color: $white;
		transition: all 250ms ease-out;
	}
}

.project_box {
	margin: 1em auto 0 auto;
	width: 100%;
	max-width: 500px;
	height: 350px;
	background-color: $white;
	background-repeat: none;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
}

.tile_container {
	width: 100%;
	max-width: 500px;
	height: 100px;
	margin: 0 auto;
}

a {
	.project_box_tile {
		display: inline-block;
		float: left;
		background-color: $logo-2;
		width: 70%;
		height: 100%;
		max-width: 500px;
		min-height: 90px;
		margin: 0;
		padding: .7em;
		h5 {
			color: $gray-1;
			margin: 0;
		}
	}

	.project_button {
		display: inline-block;
		text-align: center;
		padding: 1.8em;
		float: left;
		background-color: $white;
		width: 30%;
		height: 100%;
		margin: 0;
		border: 2px solid $logo-2;
		h4 {
			color: $logo-2;
		}
	}
}
a:hover {
	.project_box_tile {
		background-color: $white;
		transition: all 350ms ease-out;
		h5 {
			color: $logo-2;
		}
	}
	.project_button {
		background-color: $logo-2;
		transition: all 350ms ease-out;
		h4 {
			color: $white;
		}
	}
}

#testimonial {
	padding: 6em 0 8em 0;
	background-color: $gray-1;
	h1 {
		color: $logo-5;
	}
}

#contact {
	padding: 6em 0 8em 0;
	background-color: $logo-4;
	h2 {
		font-weight: 600;
	}
	h5 {
		margin: .6em 0;
		color: $black;
		font-weight: 200;
	}
	.fa-arrow-right {
		display: inline;
		margin-left: 1em;
	}
	a {
		color: $black;
	}
	a:hover {
		color: $gray-1;
		transition: all 250ms ease-in;
	}
	.button_ghost {
		border: 2px solid $black;
		width: 50%;
		margin: 0 auto;
	}
	.button_ghost:hover {
		background-color: $black;
		border: 2px solid $black;
		transition: all .5s ease-in;
	}
}

/*archive area*/
#archive_posts {
	p, body {
		font-weight: 500;
	}
}

/*blog area*/
#blog {
	p {
		font-weight: 500;
	}
}

.blog_image {
	margin: 0 auto;
	display: block;
}

.single_post {
	margin: 2em 0 0 1em;
	padding: 1em 0;
	p {
		font-weight: 500;
		font-size: 1.1em;
	}
	@media (min-width: 768px) {
		padding: 2em;
	}
}

.form-allowed-tags {
	display: none;
}

/*=contact form 7*/

.wpcf7 input[type="text"],
.wpcf7 input[type="email"],
.wpcf7 textarea
	{
		display: block;
		padding: .5em;
    	background-color: $white;
		font-size: 1.3em;
    	color: $gray-5;
    	width: 100%;
    	margin: 1em auto 0 auto;
    	border: none;
    	border-radius: 0;
    	@media (min-width: 768px) {
    		width: 50%;
    	}
    }
.wpcf7 textarea {
	height: 200px;
}

/*guidelines*/
#guidelines {
	padding: 6em 0;
	background-color: $logo-6;
	color: $white;
}

.the_list {
	padding: 6em 0;
	background-color: $gray-1;
	h3 {
		font-weight: 500;
	}
}

.list_container {
	background-color: $white;
	padding: 1em;
	margin: 1em auto;
	p {
		font-weight: 400;
		color: $gray-6;
	}
	i {
		text-align: center;
	}
}

.break {
	padding: 6em 0;
	background-color: $logo-5;
	color: $white;
}
.break_top {
	padding: 4em 0 6em 0;
	background-color: $gray-2;
	color: $black;
}


.fa-plus-square-o {
	color: green;
	display: block;
	margin: 0 auto;
}
.fa-minus-square-o {
	color: red;
	display: block;
	margin: 0 auto;
}

/*=custompost*/

.work_left {
	display: block;
	float: left;
	background-color: $white;
	width: 100%;
	height: 450px;
	padding: 4em 2em;
	p {
		font-size: 1.2em;
	}
	@media (min-width: 768px) {
		width: 50%;
		padding: 4em 2em;
	}
	.button_ghost {
		border: 2px solid $black;
	}
	.button_ghost:hover {
		background-color: $black;
		color: $white;
		transition: all 250ms ease-in;
	}
}

.work_right {
	display: block;
	float: left;
	background-color: $white;
	width: 100%;
	height: 450px;
	background-repeat: none;
	background-position: center;
	background-size: cover;
	@media (min-width: 768px) {
		width: 50%;
	}
}

.work_testimonial {
	display: block;
	padding: 6em 0 5em 0;
	background-color: $logo-5;
	color: $white;
}

.work_screen {
	width: 100%;
	background-color: $white;
	padding: 6em 0;
}


